@use '@/styles/index' as s;

.section {
  @include s.section;

  padding-top: 20px;
  padding-bottom: 80px;
}

.box {
  @include s.box;
}

.intro {
  display: grid;
  grid-template-columns: 213px minmax(0, 769px) auto;
  align-items: start;
}

.name {
  @include s.text_body(s.$medium);
}

.bio {
  width: 607px;
  max-width: 100%;

  @include s.text_body(s.$medium);
  white-space: pre-line;
}

@include s.mobile {
  .section {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .intro {
    display: contents;
  }

  .name {
    order: 1;
  }

  .bio {
    order: 2;
    width: auto;
    margin-top: 20px;
    white-space: normal;
  }
}
