@use '@/styles/index' as s;

.heading {
  width: 984px;
  max-width: 100%;
  margin-left: 128px;

  @include s.text_display;
  text-align: center;
  white-space: pre-line;
}

.flash,
.plus {
  display: inline-block;
  position: relative;
  top: -4px;
  vertical-align: middle;

  width: auto;
  margin: 0 6px;
}

.flash {
  height: 40px;
}

.plus {
  height: 34px;
}

@include s.mobile {
  .heading {
    order: 1;
    width: auto;
    margin-left: 0;
    text-align: left;
  }

  .flash {
    height: 34px;
  }

  .plus {
    height: 28px;
  }
}
