@use '@/styles/index' as s;

.section {
  position: relative;
  padding: var(--section_gap) 0;
}

.container {
  @include s.glass(s.$width_lg);
}

.fluid {
  width: 100%;
}

.centered {
  text-align: center;
}

.title {
  @include s.text_header_1;
}
