@use '@/styles/index' as s;

.holder {
  @include s.box(s.$design_width + s.$sheet_bleed * 2);
}

.sheet {
  position: relative;
  z-index: 2;

  padding: 40px 0;

  border-radius: 40px;
  background: s.$sheet;
}

.grabber {
  position: absolute;
  top: 20px;
  left: 50%;

  width: 97px;
  height: 16px;

  border-radius: 100px;
  background: s.$grabber;

  translate: -50% 0;
}

@include s.mobile {
  .holder {
    padding: 0;
  }

  .sheet {
    padding-top: 48px;
    border-radius: 20px;
  }

  .grabber {
    top: 12px;
  }
}
