@use 'sass:math';
@use '@/styles/index' as s;

.section {
  @include s.section;

  z-index: 2;
  padding-top: 70px;
  padding-bottom: 128px;
}

.box {
  @include s.box;
}

.stage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;

  margin-top: 80px;
}

.left {
  position: relative;
  container-type: inline-size;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stalo,
.ticket,
.thirtyTwo,
.five {
  width: 100%;
  object-fit: cover;
  border: 1px solid #343434;
  border-radius: 64px;
}

.stalo,
.five {
  border-color: transparent;
}

.stalo {
  aspect-ratio: 610 / 1320;
}

.five {
  aspect-ratio: 610 / 1316;
}

.thirtyTwo {
  aspect-ratio: 610 / 760;
  border-radius: 64px 64px 0 0;
  border-bottom: none;
}

.five {
  margin-top: math.percentage(math.div(200, 610));
}

.ticket {
  position: absolute;
  top: math.div(1566, 610) * 100cqw;
  left: math.percentage(math.div(76, 610));

  width: math.percentage(math.div(459, 610));
  aspect-ratio: 459 / 484;
  object-fit: cover;

  border-radius: 40px;
}

.plateHolder {
  position: relative;
  container-type: inline-size;
}

.plate {
  position: absolute;
  top: math.div(24, 610) * 100cqw;
  left: math.percentage(math.div(47, 610));

  width: math.percentage(math.div(538, 610));
  height: math.div(28, 610) * 100cqw;

  background: #000000;
}

.divider {
  display: block;

  width: 100%;
  height: 1px;
  background: #343434;
}

.carousel {
  width: math.percentage(math.div(1030, 1240));
  margin: 128px auto 0;

  aspect-ratio: 1030 / 280;
  object-fit: cover;
}

@include s.mobile {
  .section {
    order: 1;

    padding-top: 10px;
    padding-bottom: 40px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .stage,
  .left,
  .right {
    display: contents;
  }

  .carousel {
    display: none;
  }

  .stalo {
    order: 1;
  }

  .five {
    order: 2;
    margin-top: 10px;
  }

  .ticket {
    order: 3;
    position: static;

    width: math.percentage(math.div(330, 370));
    margin: 30px auto 0;

    border-radius: 30px;
  }

  .plateHolder {
    order: 4;

    width: math.percentage(math.div(330, 370));
    margin: 30px auto 0;
  }

  .divider {
    order: 5;
  }

  .stalo,
  .five {
    border-radius: 40px;
  }

  .thirtyTwo {
    border-radius: 40px 40px 0 0;
  }
}
