@use 'sass:math';
@use '@/styles/index' as s;

.stage {
  position: relative;
  container-type: inline-size;

  margin-top: 14px;
  padding-top: math.percentage(math.div(206, 1240));
}

.press {
  position: absolute;
  top: math.div(6, 1240) * 100cqw;
  left: math.percentage(math.div(210, 1240));
  z-index: 3;

  width: math.percentage(math.div(400, 1240));
}

.card {
  position: absolute;
  top: 0;
  left: math.percentage(math.div(757, 1240));
  z-index: 4;

  width: math.percentage(math.div(365, 1240));
  aspect-ratio: 1;

  will-change: transform;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.deli {
  position: relative;
  z-index: 2;

  width: 100%;
  aspect-ratio: 1240 / 932;
  object-fit: cover;

  border-radius: 40px;
}

@include s.mobile {
  .stage {
    display: none;
  }
}

@include s.reduced_motion {
  .card {
    transform: none !important;
  }
}
