@use 'sass:math';
@use '@/styles/index' as s;

.stage {
  position: relative;
  container-type: inline-size;

  margin-top: 80px;
}

.tall {
  position: relative;
  z-index: 2;
  container-type: inline-size;

  width: math.percentage(math.div(400, 1240));
  margin-left: math.percentage(math.div(210, 1240));

  border-radius: 40px;
  overflow: hidden;

  > img:first-child {
    width: 100%;
    aspect-ratio: 400 / 1447;
    object-fit: cover;
  }
}

.avatar {
  position: absolute;
  top: 5.5cqw;
  left: 17.75cqw;

  width: 9cqw;
  height: 9cqw;

  border-radius: 50%;
}

.mid {
  position: absolute;
  top: math.div(100, 1240) * 100cqw;
  left: math.percentage(math.div(630, 1240));
  z-index: 3;
  container-type: inline-size;

  width: math.percentage(math.div(400, 1240));

  > img:first-child {
    width: 100%;
    aspect-ratio: 400 / 840;
    object-fit: cover;

    border-radius: 40px;
  }
}

.squares {
  position: absolute;
  top: 55.95%;
  left: 3cqw;

  width: 100vw;
  height: 89.25cqw;

  border-radius: 5cqw;
  overflow: hidden;
}

.strip {
  display: flex;
  gap: 2.5cqw;

  width: max-content;
  margin: 0;
  padding: 0;

  list-style: none;

  will-change: transform;

  li {
    flex: none;
  }

  img {
    width: 89.25cqw;
    height: 89.25cqw;
    object-fit: cover;

    border-radius: 5cqw;
  }
}

@include s.mobile {
  .stage {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 40px;
  }

  .tall,
  .mid {
    width: 100%;
    margin-left: 0;
  }

  .tall {
    position: static;
    border-radius: 20px;
  }

  .tall > img:first-child {
    aspect-ratio: 370 / 1338;
  }

  .mid {
    position: relative;
    top: auto;
    left: auto;
    order: 3;
  }

  .mid > img:first-child {
    aspect-ratio: 370 / 767;
    border-radius: 20px;
  }
}
