@use '@/styles/index' as s;

.section {
  @include s.section;

  z-index: 1;
  margin-top: -170px;
  padding-top: 300px;
  padding-bottom: 10px;
}

.box {
  @include s.box;
}

@include s.mobile {
  .section {
    margin-top: 0;
    padding-top: 9px;
    padding-bottom: 5px;
  }
}
