@use '@/styles/index' as s;

.link {
  display: inline-flex;
  align-items: center;
  gap: s.gap(2);

  color: var(--text_default);
  transition: s.$transition;

  &:hover {
    color: var(--text_primary);
  }
}
