@use '@/styles/index' as s;

.section {
  @include s.section;

  z-index: 1;
  padding-top: 128px;
  padding-bottom: 40px;
}

.box {
  @include s.box;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 200%;
  aspect-ratio: 1 / 1;
  translate: -50% 0;

  transform-origin: center;
  will-change: transform;
}

.backdropImage {
  object-fit: contain;
}

.pressRebrand {
  width: 310px;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 510px;
}

.pressWeb {
  width: 769px;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 236px;
}

@include s.mobile {
  .section {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .backdrop {
    display: none;
  }

  .pressRebrand,
  .pressWeb {
    width: auto;
    margin-left: 0;
  }

  .pressRebrand {
    order: 5;
    margin-top: 20px;
  }

  .pressWeb {
    order: 8;
    margin-top: 20px;
  }
}

@include s.reduced_motion {
  .backdrop {
    transform: none !important;
  }
}
