@use 'sass:math';
@use '@/styles/index' as s;

.section {
  @include s.section;

  z-index: 2;
  padding-bottom: 20px;
}

.box {
  @include s.box;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  aspect-ratio: 1240 / 1040;

  background: s.$card;
}

.shot {
  width: math.percentage(math.div(926, 1240));
  height: auto;
}

@include s.mobile {
  .card {
    aspect-ratio: auto;
    padding: 20px;
  }

  .shot {
    width: 100%;
  }
}
