@use '@/styles/index' as s;

.note {
  display: flex;
  flex-direction: column;
}

.text {
  white-space: pre-line;

  @include s.text_body(s.$medium);
}

.caption {
  position: relative;

  display: flex;
  align-items: flex-start;

  margin-top: 10px;
}

.icon {
  position: absolute;
  top: -30px;
  right: calc(100% + 3px);

  width: auto;
  height: 32px;
}

.source {
  display: inline-block;
  position: relative;

  color: s.$dimmed_text;
  transition: color s.$transition_duration s.$transition_ease;

  @include s.text_body(s.$regular);

  &:hover {
    color: s.$text;
  }
}

.left {
  align-items: flex-start;
  text-align: left;
}

.center {
  align-items: center;
  text-align: center;
}

.right {
  align-items: flex-end;
  text-align: right;
}

.inline {
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;

  .text {
    flex: 1 1 auto;
  }

  .caption {
    flex: 0 0 auto;
    margin-top: 0;
  }
}

@include s.mobile {
  .note {
    align-items: flex-start;
    text-align: left;
  }

  .text {
    white-space: normal;
  }

  .icon {
    display: none;
  }

  .source {
    color: s.$text;
    border-bottom: 0.5px solid s.$hairline_link;
  }

  .inline {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    .caption {
      margin-top: 10px;
    }
  }
}
