@use '@/styles/index' as s;

.heading {
  //margin-top: 256px;
  //margin-left: 276px;

  width: 688px;
  max-width: 100%;

  @include s.text_display;
  text-align: center;
  white-space: pre-line;
}

.plus {
  display: inline-block;
  position: relative;
  top: -4px;
  vertical-align: middle;

  width: auto;
  height: 34px;
  margin: 0 6px;
}

@include s.mobile {
  .heading {
    width: auto;
    margin-top: 40px;
    margin-left: 0;
    text-align: left;
  }

  .plus {
    height: 28px;
  }
}
